*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:white;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    min-width: 100%;
    overflow-x: hidden;
    height: min-content;
}

#tile1{
    height: 15em;
    background-color: rgb(105, 105, 105);
    z-index: -2;
}

#tile2{
    height: 2em;
    background-color: lightgray;
}

#tile3{
    height: 2em;
    background-color: rgb(105, 105, 105);
}

#tile4{
    height: 2.5em;
    border-bottom-style: solid;
    border-bottom-color: darkgray;
    border-bottom-width: 1px;
}

#details{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

.list{
    padding: 0.6em 2em 0em 2em;
    font-weight: 600;
}

#nameBox{
    width: 22%;
    margin: 0 auto;
    background-color: #FC7D13;
    height: 5em;
    border-radius: 0.5em;
    position: relative;
    top: 13.25em;
    z-index: 2;
}

#profilename{
    font-size: 40px;
    text-align: center;
    padding-top: 0.5em;
}

.passportpic{
    width: 14em;
    height: 14em;
    position: relative;
    left: 44%;
    bottom: 2.5em;
    object-fit: cover;
    border-radius: 50%;
}

#contentdiv{
    display: flex;
    flex-direction: row;
    height: 50em;
}

#splitleft{
    height: 50em;
    width: 100%;
    padding: 1.5em 3em;
    color: #FC7D13;
    font-size: 22px;
    font-weight: 550;
    border-right: solid 1px darkgray;
}

.contentflex1{
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 5em;
}

.contentflex2{
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 11em;
}

.contentflex3{
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 10em;
}

#splitright{
    height: 50em;
    width: 100%;
    padding: 1.5em 3em;
    color:#FC7D13;
    font-size: 22px;
    font-weight: 550;   
}

.contentflex4{
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 32em;
}

.contentflex5{
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 10em;
}

.profileimg{
    position: relative;
    top : -10px;
    left: -5px;
}

.weimg{
    position: relative;
    top : -10px;
    left: -5px;
}

.description{
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    color: black;
    padding-top: 0.5em;
}

.subHeadings{
    padding-top: 0.5em;
    font-size: 18px;
    font-weight: 700;
    color: rgb(105, 105, 105);
}

.skilllist{
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    color: black;
    padding-top: 0.75em;
    text-align: justify;
}

.techlist{
    padding-bottom: 0.5em;
}

.wrkexp{
    /* list-style: none; */
    font-size: 16px;
    font-weight: 400;
    color: black;
    padding-top: 0.75em;
    text-align: justify;
}

.innersubHeadings{
    padding: 0.5em 0em;
    font-size: 18px;
    font-weight: 700;
    color: rgb(105, 105, 105);
}
/* ________________________________________________________________ */

@media screen and (max-width: 320px) {

    body {
        font-size: 12px;
    }

    #tile1{
        height: 12em;
        background-color: rgb(105, 105, 105);
        z-index: -2;
    }

    #tile4{
        height: 5em;
        border-bottom-style: solid;
        border-bottom-color: darkgray;
        border-bottom-width: 1px;
    }

    #details{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 4.5em;
    }

    .list{
        padding: 0.2em 1em 0em 1em;
        font-weight: 500;
    }

    #nameBox{
        width: 60%;
        margin: 0 auto;
        height: 3em;
        position: relative;
        top : 11.5em;
    }

    #profilename{
        font-size: 17px;
        padding-top: 0.6em;
    }

    .passportpic{
        width: 10em;
        height: 10em;
        position: relative;
        left: 31.5%;
        bottom: 0.5em;
    }

    #contentdiv{
        display: flex;
        flex-direction: column;
        height: 195em;
    }

    #splitleft{
        height: min-content;
        width: 100%;
        padding: 1em 1em 1em 0em;
        font-size: 16px;
        font-weight: 550;
        border-style: none;
    }
    
    .contentflex1{
        grid-template-rows: 10.5em;
    }
    
    .contentflex2{
        grid-template-rows: 11.5em;
    }
    
    .contentflex3{
        grid-template-rows: 58em;
    }

    #splitright{
        height: 100em;
        width: 100%;
        padding: 1em 1em 1em 0em;
        color:#FC7D13;
        font-size: 16px;
        font-weight: 550;   
    }
    
    .contentflex4{
        display: grid;
        grid-template-columns: 50px auto;
        grid-template-rows: 60em;
    }
    
    .contentflex5{
        display: grid;
        grid-template-columns: 50px auto;
        grid-template-rows: 7em;
    }
    
    .profileimg{
        width: 30px;
        position: relative;
        top : -6px;
        left: 8px;
    }

    .weimg{
        width: 30px;
        position: relative;
        top : -6px;
        left: 8px;
    }
    
    .description{
        font-size: 14px;
    }
    
    .subHeadings{
        font-size: 14px;
    }
    
    .skilllist{
        font-size: 14px;
    }
    
    .techlist{
        padding-bottom: 0.3em;
    }
    
    .wrkexp{
        font-size: 14px;
    }
    
    .innersubHeadings{
        font-size: 14px;
    }
}
/* ________________________________________________________________ */

@media screen and (min-width: 321px) and (max-width: 375px) {

    body {
        font-size: 12px;
    }

    #tile1{
        height: 12em;
        background-color: rgb(105, 105, 105);
        z-index: -2;
    }

    #tile4{
        height: 5em;
        border-bottom-style: solid;
        border-bottom-color: darkgray;
        border-bottom-width: 1px;
    }

    #details{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 4.5em;
    }

    .list{
        padding: 0.2em 1em 0em 1em;
        font-weight: 500;
    }

    #nameBox{
        width: 50%;
        margin: 0 auto;
        height: 3em;
        position: relative;
        top : 11.5em;
    }

    #profilename{
        font-size: 17px;
        padding-top: 0.5em;
    }

    .passportpic{
        width: 10em;
        height: 10em;
        position: relative;
        left: 35%;
        bottom: 0.5em;
    }

    #contentdiv{
        display: flex;
        flex-direction: column;
        height: 178em;
    }

    #splitleft{
        height: min-content;
        width: 100%;
        padding: 1em 1em 1em 0em;
        font-size: 16px;
        font-weight: 550;
        border-style: none;
    }
    
    .contentflex1{
        grid-template-rows: 9.5em;
    }
    
    .contentflex2{
        grid-template-rows: 11.5em;
    }
    
    .contentflex3{
        grid-template-rows: 48em;
    }

    #splitright{
        height: 60em;
        width: 100%;
        padding: 1em 1em 1em 0em;
        font-size: 16px;
        font-weight: 550;   
    }
    
    .contentflex4{
        display: grid;
        grid-template-columns: 50px auto;
        grid-template-rows: 53em;
    }
    
    .contentflex5{
        display: grid;
        grid-template-columns: 50px auto;
        grid-template-rows: 2.5em;
    }
    
    .profileimg{
        width: 30px;
        position: relative;
        top : -6px;
        left: 7px;
    }

    .weimg{
        width: 30px;
        position: relative;
        top : -6px;
        left: 7px;
    }
    
    .description{
        font-size: 14px;
    }
    
    .subHeadings{
        font-size: 14px;
    }
    
    .skilllist{
        font-size: 14px;
    }
    
    .techlist{
        padding-bottom: 0.3em;
    }
    
    .wrkexp{
        font-size: 14px;
    }
    
    .innersubHeadings{
        font-size: 14px;
    }
}
/* ________________________________________________________________ */

@media screen and (min-width: 376px) and (max-width: 425px) {

    body {
        font-size: 12px;
    }

    #tile1{
        height: 12em;
        background-color: rgb(105, 105, 105);
        z-index: -2;
    }

    #tile4{
        height: 5em;
        border-bottom-style: solid;
        border-bottom-color: darkgray;
        border-bottom-width: 1px;
    }

    #details{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 4.5em;
    }

    .list{
        padding: 0.2em 1em 0em 1em;
        font-weight: 500;
    }

    #nameBox{
        width: 45%;
        margin: 0 auto;
        height: 3em;
        position: relative;
        top : 11.5em;
    }

    #profilename{
        font-size: 17px;
        padding-top: 0.5em;
    }

    .passportpic{
        width: 10em;
        height: 10em;
        position: relative;
        left: 37%;
        bottom: 0.5em;
    }

    #contentdiv{
        display: flex;
        flex-direction: column;
        height: 165em;
    }

    #splitleft{
        height: min-content;
        width: 100%;
        padding: 1em 1.5em 1em 0em;
        font-size: 16px;
        font-weight: 550;
        border-style: none;
    }
    
    .contentflex1{
        grid-template-rows: 8.5em;
    }
    
    .contentflex2{
        grid-template-rows: 11.5em;
    }
    
    .contentflex3{
        grid-template-rows: 44.5em;
    }

    #splitright{
        height: 60em;
        width: 100%;
        padding: 1em 1.5em 1em 0em;
        font-size: 16px;
        font-weight: 550;   
    }
    
    .contentflex4{
        display: grid;
        grid-template-columns: 50px auto;
        grid-template-rows: 49em;
    }
    
    .contentflex5{
        display: grid;
        grid-template-columns: 50px auto;
        grid-template-rows: 2.5em;
    }
    
    .profileimg{
        width: 30px;
        position: relative;
        top : -6px;
        left: 8px;
    }

    .weimg{
        width: 30px;
        position: relative;
        top : -6px;
        left: 8px;
    }
    
    .description{
        font-size: 14px;
    }
    
    .subHeadings{
        font-size: 14px;
    }
    
    .skilllist{
        font-size: 14px;
    }
    
    .techlist{
        padding-bottom: 0.3em;
    }
    
    .wrkexp{
        font-size: 14px;
    }
    
    .innersubHeadings{
        font-size: 14px;
    }
}
/* ________________________________________________________________ */

@media screen and (min-width: 426px) and (max-width: 768px) {

    body {
        font-size: 14px;
    }

    #tile1{
        height: 12em;
    }

    #tile4{
        height: 5em;
    }

    #details{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 4.5em;
    }

    .list{
        padding: 0.2em 1em 0em 1em;
        font-weight: 500;
    }

    #nameBox{
        width: 40%;
        margin: 0 auto;
        height: 4em;
        position: relative;
        top : 11em;
    }

    #profilename{
        font-size: 26px;
        padding-top: 0.5em;
    }

    .passportpic{
        width: 11em;
        height: 11em;
        position: relative;
        left: 40%;
        bottom: 2em;
    }

    #contentdiv{
        display: flex;
        flex-direction: column;
        height: 121em;
    }

    #splitleft{
        height: min-content;
        width: 100%;
        padding: 1em 1.5em 1em 0em;
        font-size: 18px;
        font-weight: 550;
        border-style: none;
    }
    
    .contentflex1{
        grid-template-rows: 5.5em;
    }
    
    .contentflex2{
        grid-template-rows: 11.5em;
    }
    
    .contentflex3{
        grid-template-rows: 32em;
    }

    #splitright{
        height: 60em;
        width: 100%;
        padding: 1em 1.5em 1em 0em;
        font-size: 18px;
        font-weight: 550;   
    }
    
    .contentflex4{
        display: grid;
        grid-template-columns: 50px auto;
        grid-template-rows: 36.5em;
    }
    
    .contentflex5{
        display: grid;
        grid-template-columns: 50px auto;
        grid-template-rows: 2.5em;
    }
    
    .profileimg{
        width: 35px;
        position: relative;
        top : -8px;
        left: 7px;
    }

    .weimg{
        width: 35px;
        position: relative;
        top : -8px;
        left: 7px;
    }
    
    .description{
        font-size: 16px;
    }
    
    .subHeadings{
        font-size: 18px;
    }
    
    .skilllist{
        font-size: 16px;
    }
    
    .techlist{
        padding-bottom: 0.3em;
    }
    
    .wrkexp{
        font-size: 16px;
    }
    
    .innersubHeadings{
        font-size: 16px;
    }
}
/* ________________________________________________________________ */

@media screen and (min-width: 769px) and (max-width: 1024px) {

    body {
        font-size: 16px;
    }

    #tile1{
        height: 12em;
    }

    #tile4{
        height: 2.5em;
    }

    #details{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 2em;
    }

    .list{
        padding: 0.2em 1em 0em 1em;
        font-weight: 600;
    }

    #nameBox{
        width: 30%;
        margin: 0 auto;
        height: 4em;
        position: relative;
        top : 11em;
    }

    #profilename{
        font-size: 30px;
        padding-top: 0.5em;
    }

    .passportpic{
        width: 12em;
        height: 12em;
        position: relative;
        left: 41%;
        bottom: 2.75em;
    }

    #contentdiv{
        display: flex;
        flex-direction: column;
        height: 98em;
    }

    #splitleft{
        height: min-content;
        width: 100%;
        padding: 1em 2em 1em 0em;
        font-size: 20px;
        font-weight: 550;
        border-style: none;
    }
    
    .contentflex1{
        grid-template-rows: 5em;
    }
    
    .contentflex2{
        grid-template-rows: 10.5em;
    }
    
    .contentflex3{
        grid-template-rows: 24.5em;
    }

    #splitright{
        height: 60em;
        width: 100%;
        padding: 1em 2em 1em 0em;
        font-size: 20px;
        font-weight: 550;   
    }
    
    .contentflex4{
        display: grid;
        grid-template-columns: 50px auto;
        grid-template-rows: 29.5em;
    }
    
    .contentflex5{
        display: grid;
        grid-template-columns: 50px auto;
        grid-template-rows: 2.5em;
    }
    
    .profileimg{
        width: 38px;
        position: relative;
        top : -7px;
        left: 5px;
    }

    .weimg{
        width: 38px;
        position: relative;
        top : -7px;
        left: 5px;
    }
    
    .description{
        font-size: 16px;
    }
    
    .subHeadings{
        font-size: 18px;
    }
    
    .skilllist{
        font-size: 16px;
    }
    
    .techlist{
        padding-bottom: 0.3em;
    }
    
    .wrkexp{
        font-size: 16px;
    }
    
    .innersubHeadings{
        font-size: 16px;
    }
}
/* ________________________________________________________________ */

@media screen and (min-width: 1025px) and (max-width: 1440px) {

    body {
        font-size: 16px;
    }

    #tile1{
        height: 12em;
    }

    #tile4{
        height: 2.5em;
    }

    #details{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 2em;
    }

    .list{
        padding: 0.2em 1em 0em 1em;
        font-weight: 600;
    }

    #nameBox{
        width: 25%;
        margin: 0 auto;
        height: 4em;
        position: relative;
        top : 11em;
    }

    #profilename{
        font-size: 32px;
        padding-top: 0.5em;
    }

    .passportpic{
        width: 12em;
        height: 12em;
        position: relative;
        left: 43.5%;
        bottom: 2.75em;
    }

    #contentdiv{
        display: flex;
        flex-direction: row;
        height: 50em;
    }

    #splitleft{
        height: min-content;
        width: 100%;
        padding: 1em 2em;
        font-size: 20px;
        font-weight: 550;
    }
    
    .contentflex1{
        grid-template-rows: 5.5em;
    }
    
    .contentflex2{
        grid-template-rows: 10.5em;
    }
    
    .contentflex3{
        grid-template-rows: 24.5em;
    }

    #splitright{
        height: 50em;
        width: 100%;
        padding: 1em 1em;
        font-size: 20px;
        font-weight: 550;   
    }
    
    .contentflex4{
        display: grid;
        grid-template-columns: 50px auto;
        grid-template-rows: 33.5em;
    }
    
    .contentflex5{
        display: grid;
        grid-template-columns: 50px auto;
        grid-template-rows: 2.5em;
    }
    
    .profileimg{
        width: 45px;
        position: relative;
        top : -10px;
        left: -5px;
    }

    .weimg{
        width: 45px;
        position: relative;
        top : -10px;
        left: -5px;
    }
    
    .description{
        font-size: 16px;
    }
    
    .subHeadings{
        font-size: 18px;
    }
    
    .skilllist{
        font-size: 16px;
    }
    
    .techlist{
        padding-bottom: 0.3em;
    }
    
    .wrkexp{
        font-size: 16px;
    }
    
    .innersubHeadings{
        font-size: 16px;
    }
}